{% extends "base.html" %}

{% block title %}
	Изменение пароля
{% endblock %}

{% block head_title %}
	Изменение пароля
{% endblock %}

{% block meta_keywords %}
    Изменение пароля
{% endblock %}

{% block meta_descroption %}
    Изменение пароля
{% endblock %}

{% block extra_footer %}
    <script type="text/javascript">
        $(document).ready(function(){
            $('#rpassword').focus();
        });
    </script>
{% endblock %}

{% block content %}
 <div class="container">
        <h1 class="category">Изменение пароля</h1>

         <div class='way'>
            <a href='/'>Главная</a> &rarr; <span>Изменение пароля</span>
        </div>

        <div class="page">
            {% if key %}
                <p class='complete'>
                    Пароль успешно изменен!
                </p>
            {% else %}

                 <form action='' id='comment_form' method='post'>
                    {% if error_new_password %}
                        <div class='alert alert-danger'>
                            Пароли не совпадают или пустые!
                        </div>
                    {% endif %}

                        Новый пароль<br>
                        <input type="password" name="new_password" id="rpassword" value="{{ email }}" size='35'><br>

                        Новый пароль (повторно)<br>
                        <input type="password" name="new_password2" value="{{ email }}" size='35'><br>

                        <input value="Сохранить" id="comment_button" class="forget_button" type="submit">
                </form>
            {% endif %}
        </div>
    </div>
{% endblock %}