{% extends "base.html" %}

{% block head_title %}
  Изменение пароля
{% endblock %}

{% block extra_footer %}
    <script type="text/javascript">
        $(document).ready(function(){
            $('#oldusername').focus();
        });
    </script>
{% endblock %}

{% block content %}
<div class="container">
    <h1 class="category">Изменение пароля</h1>
    <div class='way'>
        <a href='/' >Главная</a> &rarr; <a href='/account/'>Личный кабинет</a> &rarr; <span>Изменение пароля</span>
    </div>

    <div class="page">
        {% if error_old_password %}
            <div class='alert alert-danger'>Пароль не изменен. Старый пароль неправильный.</div>
        {% else %}
            {% if error_new_password %}
                <div class='alert alert-danger'>Пароль не изменен. Новые пароли не совпадают.</div>
            {% endif %}
        {% endif %}

        <form class='myform' action='' id='comment_form' method='post'>
            Старый пароль<br>
            <input {% if error_old_password %}class='ierror'{% endif %} type='password' name='old_password' id='old_password' value='{{ username }}'><br>

            Новый пароль<br>
            <input {% if error_new_password %}class='ierror'{% endif %} type='password' name='new_password' id='new_password' value='{{ username }}'><br>

            Новый пароль (повторно)<br>
            <input {% if error_new_password %}class='ierror'{% endif %} type='password' name='new_password2' id='new_password2' value='{{ username }}'><br>

            <input id='comment_button' type='submit' value='Сохранить' class='button'>
        </form>
    </div>
</div>
{% endblock %}