        <script type="text/javascript" src="//yandex.st/share/share.js" charset="utf-8"></script>
        <div class="yashare-auto-init"
            data-yashareL10n="ru"
            data-yashareQuickServices="vkontakte,facebook,twitter,odnoklassniki,moimir,gplus"
            data-yashareTheme="counter"
            data-yashareTitle="{{ flatpage.meta_title|safe }}"
            data-yashareImage="http://kostochka38.ru/staticfiles/images/logo_big.png"
            data-yashareDescription="{{ flatpage.meta_descroption }}"
        ></div>