<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/1999/REC-html401-19991224/strict.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body>
    <table bgcolor="#F0F0F0" border="0" cellpadding="0" cellspacing="0" width="100%"><tbody><tr><td>
        <table align="center" border="0" cellpadding="0" cellspacing="0" style="font-family: Tahoma, Helvetica, sans-serif;color:#000;text-align:left; margin: 10px auto;" width="581"><tbody>
                <tr>
                    <td style="width: 230px; text-align: left; padding-left: 10px;">
                        <a href="http://kostochka38.ru?utm_source=notice&utm_medium=email">
                            <img alt="kostochka38.ru" border="0" src="http://kostochka38.ru/static/kostochka38/images/new-logo.png" vspace="5" />
                        </a>
                    </td>
                    <td style="vertical-align: middle; text-align:right; font-size: 16px; padding-right: 10px;">
                        <span style="color:#999999;">+7 (3952)</span> 50-40-38</td>
                </tr>
                <tr>
                    <td bgcolor="#ffffff" colspan="2" style="font-family: Tahoma, Helvetica, sans-serif; padding: 20px 0;vertical-align: top;text-align: left;border-radius: 4px;font-size: 14px;">
                        {% block content %}{% endblock %}
                    </td>
                </tr>

                <tr>
                    <td colspan="2" class="footer" style="vertical-align: middle; text-align:center; font-size:12px;">
                        <p class="big" style="padding:0; text-align: center; color: #999; margin: 12px 0;">
                            Интернет-магазин кормов для животных
                            <a style="color: #999;" href="http://kostochka38.ru">kostochka38.ru</a></p>

                        <p class="big" style="padding:0; text-align: center; color: #999; margin: 12px 0;">
                            Подписывайтесь на нас в соцсетях
                            <br>
                            <a href="https://vk.com/kostochka38" style="margin-right: 5px; margin-top: 5px; display: inline-block;"><img width="24px" src="https://kostochka38.ru/static/kostochka38/images/vkmail.png"></a>
                        </p>

                        <p style="padding:0; text-align: center; color: #999; margin: 12px 0;">
                            Если вы хотите изменить настройки уведомлений, то перейдите по <a style='color: #0099FF;' href="http://kostochka38.ru/account/notifications/?token={{ token }}&utm_source=notice&utm_medium=email">этой ссылке</a>.
                        </p>
                    </td>
                </tr>
            </tbody>
        </table>
    </td></tr></tbody></table>
</body>
</html>