{% extends "base.html" %}   
{% load static %}
       
{% block title %}
	CARE NUTRITION для кошек
{% endblock %} 

{% block head_title %}
    CARE NUTRITION для кошек
{% endblock %}

{% block content %}

<link rel="stylesheet" href="{% static 'royal/level2_cat.css' %}" type="text/css" />

<div class="container">
    <h1 class="category">CARE NUTRITION для кошек</h1>
    <div class='way'>
        <a href='/'>Главная</a> &rarr; <span>CARE NUTRITION для кошек</span>
    </div>
    <div class="page">


        <div class="wrapper royal-level2">
            <a href="#" id="top" class="anchor">&nbsp;</a>
                    <hr class="header-rule">
                    <div class="header header--logo">
                        <div class="row">
                            <div class="col col--30">
                                <img class="header__logo" src="{% static 'royal/level_3_cat_care/logo.png' %}" alt="Logo">
                            </div>
                        </div>
                    </div>
            
                    <!-- =================================================== -->
                    <!-- Manipulate the sections below until the END comment -->
                    <!-- =================================================== -->
            
                    <!-- =================================================== -->
                    <!-- INTRO -->
                    <!-- =================================================== -->
            
                  <div class="section section--intro brand-intro">
                    <div class="row brand-row-header">
                        <div class="col col--50">
                            <img src="{% static 'royal/level_3_cat_care/cat_header.png' %}" alt="cat" />
                        </div>
                        
                        <div class="col col--50">
                            <h1 class="level3-heading">CARE NUTRITION <br> <span class="grey-heading">ДЛЯ КОШЕК</span></h1>
                            <a href="/c/korm-dlya-koshek/?page=1&f-other=feline-care" class="button brand-button--header button-care">
                                ПОДОБРАТЬ КОРМ
                            </a>
                        </div>
                    </div>
                </div>
                <hr class="header-separator-main">
            
                  <!-- =================================================== -->
                  <!-- ACCORDION -->
                  <!-- =================================================== -->
            
                  <input type="checkbox" id="accordion-trigger-1" class="accordion-trigger" />
            
                <div class="section section--accordion subsection-acc bg-subsection-blue-dark">
                    <div class="row subsection-row-main">
                        <div class="col col--100 subsection-content subsection-head subsection-blue-dark">
                        </div>
                    </div>
            
                    <div class="row subsection-row-main">
                        <div class="col col--50 subsection-red-light subsection-content">
                            <p>
                                На здоровье кошки влияет множество факторов, ее организм может оказаться слишком чувствительным к некоторым компонентам. Питание CARE NUTRITION разработано специально для кошек с особыми потребностями.
                            </p>
                        </div>
                        <div class="col col--50 subsection-red-light subsection-content">
                            <img class="packaging" src="{% static 'royal/level_3_cat_care/cat_packs.png' %}" alt="dog food packets" />
                        </div>
                    </div>
                </div>
                <div class="section section--accordion subsection-acc">
            
                    <div class="row subsection-row-main">
                        <div class="col col--50 subsection-content">

                             <div class="subsection-icon-container">
                                <img src="{% static 'royal/level_3_cat_care/icon_white.png' %}" alt="icon" />
                                <div class="icon-text">
                                    <h4>ПОВЫШЕННАЯ ЧУВСТВИТЕЛЬНОСТЬ ЗУБОВ И ДЕСЕН</h4>
                                    <p>
                                       Минерализация слюны и образование микробного зубного налета приводят к повышенной чувствительности десен. Подобный налет также может способствовать появлению неприятного запаха. Специально разработанные крокеты снижают образование микробного зубного налета и уменьшают
                                       риск появления неприятного запаха у вашего питомца.
                                    </p>
                                </div>
                            </div>
                            
                        </div>
                        <div class="col col--50 subsection-content">
                            <div class="subsection-icon-container">
                                <img src="{% static 'royal/level_3_cat_care/icon_Kcal.png' %}" alt="Kcal" />
                                <div class="icon-text">
                                    <h4>КОНТРОЛЬ ВЕСА</h4>
                                    <p>
                                        Поддержание оптимального веса вашего питомца жизненно важно для его здоровья. Идеально сбалансированное питание
                                        ROYAL CANIN LIGHT WEIGHT CARE помогает поддерживать вашу кошку в прекрасной форме.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row subsection-row-main">
                        <div class="col col--50 subsection-content last-subsection" style="padding-bottom: 0">
                            <div class="subsection-kibble-container">
                                <img style="margin-top: 0" src="{% static 'royal/level_3_cat_care/cat_bottom_left.png' %}" alt="cat" />
                                <div class="kibble-text">
                                    <img src="{% static 'royal/level_3_cat_care/kitten_kibble.png' %}" alt="kibble" />
                                    <p>
                                       Крокеты каждого продукта имеют определенную форму, размер, текстуру и плотность, в соответствии с потребностями вашей кошки
                                    </p>
                                </div>
                            </div>
                        </div>
                        <hr class="mobile-separator">
                        <div class="col col--50 subsection-content last-subsection">
                            <h3>
                                ДИЕТИЧЕСКОЕ ПИТАНИЕ ДЛЯ КОШЕК С ОСОБЫМИ ПОТРЕБНОСТЯМИ
                            </h3>
                        </div>
                    </div>
            
            
                </div>
                <hr class="content-separator-main">
                    
               <div class="section section--accordion subsection-last footer-cat-care">
                    <div class="row subsection-row-main">
                        
                        <div class="col col--16 subsection-footer-icons">
                            <div class="footer-icon-cont">
                                <a href="/c/korm-dlya-koshek/?page=1&f-other=dlya-shersti-koshki&producer_filter=royal-canin">
                                    <div class="footer-icon" id="footer-1"></div>
                                    <!--<h3>JOINT CARE</h3>-->
                                    <p>здоровая блестящая шерсть</p>
                                </a>
                            </div>
                        </div>
                            
                        <div class="col col--16 subsection-footer-icons">
                            <div class="footer-icon-cont">
                                <a href="/c/korm-dlya-koshek/?page=1&f-other=vyivedenie-volosyanyih-komochkov&producer_filter=royal-canin">
                                    <div class="footer-icon" id="footer-2"></div>
                                    <!--<h3>DIGESTIVE CARE</h3>-->
                                    <p>выведение волосяных комочков</p>
                                </a>
                            </div>
                        </div>   
                        
                        <div class="col col--16 subsection-footer-icons">
                             <div class="footer-icon-cont">
                                <a href="/c/korm-dlya-koshek/?page=1&f-other=profilaktika-boleznej&producer_filter=royal-canin">
                                    <div class="footer-icon" id="footer-3"></div>
                                    <!--<h3>DIGESTIVE CARE</h3>-->
                                    <p>профилактика камней в мочевыводящих путях</p>
                                </a>
                            </div>
                        </div>
                   
                        <div class="col col--16 subsection-footer-icons">
                            <div class="footer-icon-cont">
                                <a href="/c/korm-dlya-koshek/?page=1&f-other=digestive&producer_filter=royal-canin">
                                    <div class="footer-icon" id="footer-4"></div>
                                    <!--<h3>DERMACOMFORT</h3>-->
                                    <p>снижение объёма фекалий</p>
                                </a>
                            </div>
                        </div>
                        
                        <div class="col col--16 subsection-footer-icons">
                            <div class="footer-icon-cont">
                                <a href="/c/korm-dlya-koshek/?page=1&f-other=ot-zubnogo-naleta-koshki&producer_filter=royal-canin">
                                    <div class="footer-icon" id="footer-5"></div>
                                    <!--<h3>LIGHT WEIGHT CARE</h3>-->
                                    <p>снижение образования зубного камня</p>
                                </a>
                            </div>
                        </div>  
            
                        <div class="col col--16 subsection-footer-icons">
                            <div class="footer-icon-cont">
                                <a href="/c/korm-dlya-koshek/?page=1&f-other=nizkokalorijnyij-koshki&producer_filter=royal-canin">
                                    <div class="footer-icon" id="footer-6"></div>
                                    <!--<h3>LIGHT WEIGHT CARE</h3>-->
                                    <p>снижение потребления калорий</p>
                                </a>
                            </div>
                        </div>  
                            
                    </div>
                </div>
    </div>
</div>
{% endblock %}