{% extends "base.html" %}   
{% load static %}
       
{% block title %}
	Здоровое питание для взрослых собак
{% endblock %} 

{% block head_title %}
    Здоровое питание для взрослых собак
{% endblock %}

{% block content %}

<link rel="stylesheet" href="{% static 'royal/level2_cat.css' %}" type="text/css" />

<div class="container">
    <h1 class="category">Здоровое питание для взрослых собак</h1>
    <div class='way'>
        <a href='/'>Главная</a> &rarr; <span>Здоровое питание для взрослых собак</span>
    </div>
    <div class="page">

        <div class="wrapper royal-level2">
            <hr class="header-rule">
            <div class="header header--logo">
                <div class="row">
                    <div class="col col--30">
                        <img class="header__logo" src="{% static 'royal/level_3_dog_size/logo.png' %}" alt="Logo">
                    </div>
                </div>
            </div>
    
          <div class="section section--intro brand-intro">
            <div class="row brand-row-header">
                <div class="col col--50">
                    <img src="{% static 'royal/level_3_dog_size/dog_header1.png' %}" alt="dog" />
                </div>
                
                <div class="col col--50">
                    <h1 class="level3-heading">ЗДОРОВОЕ ПИТАНИЕ<br/><span class="grey-heading">ДЛЯ ВЗРОСЛЫХ СОБАК</span></h1>
                    <a href="/c/korm-dlya-sobak/?page=1&f-size=malenkaya,krupnaya,srednyaya&producer_filter=royal-canin" class="button brand-button--header dog-size">
                        ПОДОБРАТЬ КОРМ
                    </a>
                </div>
            </div>
        </div>
            <br>
        <hr class="header-separator-main">

        <div class="section section--accordion subsection-acc bg-subsection-red-dark-dog">
            <div class="row subsection-row-main">
                <div class="col col--100 subsection-content subsection-head subsection-red-dark-dog">
                </div>
            </div>
    
            <div class="row subsection-row-main">
                <div class="col col--50 subsection-red-light subsection-content">
                    <p>
                        Чтобы собака сохранила здоровье и оставалась в прекрасной форме на протяжении всей жизни, ее рацион должен включать необходимые для удовлетворения ее пищевых потребностей компоненты. При составлении рациона необходимо не только учитывать индивидуальные параметры вашего животного, но и позаботиться о правильном балансе компонентов.
                    </p>
                </div>
                <div class="col col--50 subsection-red-light subsection-content">
                    <img class="packaging" src="{% static 'royal/level_3_dog_size/dog_packs.png' %}" alt="dog food packets" />
                </div>
            </div>
        </div>
        <div class="section section--accordion subsection-acc">
            <div class="row subsection-row-main">
                <div class="col col--50 subsection-content">
                    <div class="subsection-graph-container">
                        <p>
                            У Royal Canin есть точная формула для каждой взрослой собаки. Размер животного определяется на основании «идеального» веса породы во взрослом состоянии и подразделяется на следующие категории:
                        </p>
                        <div class="graph-text">
                            <ul>
                                <li>- X-Small: 1-4 кг</li>
                                <li>- Mini: 1-10 кг</li>
                                <li>- Medium: 11-25 кг</li>
                                <li>- Maxi: 26-44 кг</li>
                                <li>- Giant: более 45 кг</li>
                            </ul>  
                        </div>
                        <img class="graph" src="{% static 'royal/level_3_dog_size/dog_graph.png' %}" alt="digestion" />
                    </div>
                </div>
                <div class="col col--50 subsection-content">
                    <div class="subsection-icon-container">
                        <img src="{% static 'royal/level_3_dog_size/icon_scales.png' %}" alt="scales" />
                        <div class="icon-text">
                            <p>
                                Каждый из кормов Royal Canin для взрослых собак содержит более 50 нутриентов в строго определенных пропорциях, чтобы обеспечить эффективное питание для собак любого размера, возраста и породы, а также с любым образом жизни.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row subsection-row-main">
                <div class="col col--50 subsection-content last-subsection" style="padding-bottom: 0">
                    <div class="subsection-kibble-container">
                        <img style="margin-top: 0" src="{% static 'royal/level_3_dog_size/dog_bottom_left.png' %}" alt="dog" />
                        <div class="kibble-text">
                            <img src="{% static 'royal/level_3_dog_size/dog_kibble1.png' %}" alt="kibble" />
                            <p>
                                Крокеты каждого продукта имеют определенную форму, размер, текстуру и плотность, в соответствии с потребностями вашей собаки
                            </p>
                        </div>
                    </div>
                </div>
                <hr class="mobile-separator">
                <div class="col col--50 subsection-content last-subsection">
                    <h3>
                        ПИТАНИЕ, РАЗРАБОТАННОЕ С УЧЕТОМ СПЕЦИФИЧЕСКИХ ПОТРЕБНОСТЕЙ КАЖДОЙ СОБАКИ
                    </h3>
                </div>
            </div>
    
    
        </div>
        <hr class="content-separator-main">
        <div class="section section--accordion subsection-last footer-dog-size">
            <div class="row subsection-row-main">
                        <div class="col col--20 subsection-content">
                         <div class="footer-icon-cont">
                            <a href="/search/?q=giant" target="_blank">
                            <div class="footer-icon" id="footer-1"></div>
                            </a>
                        </div>
                    </div>
    
                    <div class="col col--20 subsection-content">
                        <div class="footer-icon-cont">
                             <a href="/c/korm-dlya-sobak/?page=1&f-size=krupnaya&producer_filter=royal-canin" target="_blank">
                             <div class="footer-icon" id="footer-2"></div>
                             </a>
                        </div>
                    </div>
    
                     <div class="col col--20 subsection-content">
                        <div class="footer-icon-cont">
                             <a href="/c/korm-dlya-sobak/?page=1&f-size=srednyaya&producer_filter=royal-canin" target="_blank">
                             <div class="footer-icon" id="footer-3"></div>
                             </a>
                        </div>
                    </div>
    
                     <div class="col col--20 subsection-content">
                        <div class="footer-icon-cont">
                             <a href="/c/korm-dlya-sobak/?page=1&f-size=malenkaya&producer_filter=royal-canin" target="_blank">
                             <div class="footer-icon" id="footer-4"></div>
                             </a>
                        </div>
                    </div>
    
                     <div class="col col--20 subsection-content">
                        <div class="footer-icon-cont">
                             <a href="/search/?q=x-small" target="_blank">
                             <div class="footer-icon" id="footer-5"></div>
                             </a>
                        </div>
                    </div>
            </div>
        </div>
        </div>
    </div>
</div>
{% endblock %}