{% extends "base.html" %}
{% load static %}

{% block head_title %}
	Оплата прошла успешно
{% endblock %}


{% block content %}
<div class="container">
    <h1 class="category">Оплата прошла успешно</h1>
    <div class='way'>
        <a href='/' >Главная</a> &rarr; <a href='/account/'>Личный кабинет</a> &rarr; <a href='/account/orders/'>История заказов</a> &rarr; <a href='/account/order/{{ current_payment.payservice.id }}/'>Заказ №{{ current_payment.payservice.id }}</a> &rarr; <span>Оплата прошла успешно</span>
    </div>

    <div class='page' id="comment_form">
        {% if request.user.is_authenticated %}
            <div class="text-center sberbank-error">
                <big>Оплата заказа №{{ current_payment.payservice.id }} прошла успешно!</big>

                <br><br>
                Спасибо за покупку.
                <br>
                При возникновении вопросов, пожалуйста, свяжитесь с оператором по телефону <a href="+73952504038">8 (3952) 50-40-38</a>
                и назовите номер Вашего заказа.

                <br><br>

                <a href="/account/order/{{ current_payment.payservice.id }}/" class="btn-manisa">вернуться на страницу заказа &rarr;</a>
            </div>
        {% else %}
            {% include 'need_autirozed.html' %}
        {% endif %}
    </div>
</div>
{% endblock %}