{% extends "base.html" %}
{% load pytils_numeral %}
{% load pytils_dt %}

{% block title %}
    Новости 
{% endblock %}   

{% block head_title %}    
    Новости{% if page != 1 and page %} | Страница {{ page }}{% endif %}
{% endblock%}    
           
{% block content %} 
 <div class="container">
    <h1 class="category">Новости</h1>
    <div class='way'>
        <a href='/' >Главная</a> &rarr; Новости
    </div>

    <div class="page">
        {% for new in news_items %}
            {% if not news_items|first == new %}<hr class="small-big">{% endif %}
          	<div class='news_block{% if new.status == '1' %} superuser{% endif %}'>
        		<h2{% if new.original_image %} class="withimage"{% endif %}><a href="/{% if new.action %}promo{% else %}news{% endif %}/{{ new.link }}/"{% if new.complete %} class="action-complete"{% endif %}>{% if new.action %}Акция: {% endif %}{{ new.title }}</a></h2>
                {% if new.original_image %}
                    <div class="thumb-iamge">
                        <a href="/{% if new.action %}promo{% else %}news{% endif %}/{{ new.link }}/">
                            <img alt="{{ new.title }}" title="{{ new.title }}" src="{{ new.thumbnail.url }}">
                        </a>
                    </div>
                {% endif %}
                 <div class="news-body">
                    <div class='date'>
                        {{ new.date|ru_strftime:"%d %B %Y" }}
                    </div>
                    {% if new.short %}
                        {{ new.short|safe }}
                    {% else %}
                        {{ new.body|safe }}
                    {% endif %}
                </div>
                <br class="clear">
        	</div>  
        {% endfor %}
        <div class="paginator">
            {% if pages %}
                {% if page_var.prev_page %}
                    <a class="go_to_frst_page" data-page="1" href="/news/">В начало</a>
                {% endif %}
                <div class="paginator__number">
                    {% if page_var.prev_page %}
                        <a data-page="{{ page_var.prev_page }}" href="/news/?page={{ page_var.prev_page }}">&larr;</a>
                    {% endif %}

                    {% for iteration in page_var.pages %}
                        <a data-page="{{ iteration }}"{% if iteration == page %} class="active"{% endif %} href="/news/?page={{ iteration }}">{{ iteration }}</a>
                    {% endfor %}

                    {% if page_var.next_page %}
                        <a data-page="{{ page_var.next_page }}" href="/news/?page={{ page_var.next_page }}">&rarr;</a>
                    {% endif %}
                </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}