{% extends "kassa/base.html" %}


{% block content %}

<div class="container-fluid"{% if is_refund %} style="background-color: rgba(255, 0, 0, 0.1)"{% endif %}>
  <div class="row">
    <div class="col-8">
      <div class="row">
        <div class="col-12">
          {% block order_items %}
          {% endblock %}
        </div>
      </div>
      <div class="row">
        {% block additional_content %}{% endblock %}
      </div>
    </div>
    <div class="col-4">
      <div class="row">
        {% block form %}
        {% endblock %}
      </div>
    </div>
  </div>
</div>


{% endblock %}
